.ts {
  color: rgb(49, 123, 199);
  text-shadow: 0 2px 2px #ddd, 2px 0 2px #ddd, 0 -2px 2px #ddd, -2px 0 2px #ddd;
}
.ts[aria-selected="true"] {
  border-bottom-color: rgb(49, 123, 199);
}

.js {
  color: rgb(237, 218, 104);
  text-shadow: 0 2px 2px #999, 2px 0 2px #999, 0 -2px 2px #999, -2px 0 2px #999;
}
.js[aria-selected="true"] {
  border-bottom-color: rgb(237, 218, 104);
}
